<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.GoodGame2020.FantasyAdventure" xmlns:tools="http://schemas.android.com/tools" android:installLocation="preferExternal">
  <supports-screens android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:xlargeScreens="true" android:anyDensity="true" />
  <application android:label="@string/app_name" android:icon="@mipmap/app_icon" >
    <activity android:name=".MainActivity" android:configChanges="orientation" android:screenOrientation="portrait"
        tools:ignore="LockedOrientationActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name=".ChoseActivity" android:label="ChoseActivity" android:configChanges="orientation" android:screenOrientation="portrait" tools:ignore="LockedOrientationActivity"/>
    <activity android:name=".SelectActivity" android:label="SelectActivity" android:configChanges="orientation" android:screenOrientation="portrait" tools:ignore="LockedOrientationActivity"/>
    <activity android:name=".PreviewActivity" android:label="PreviewActivity" android:configChanges="orientation" android:screenOrientation="portrait" tools:ignore="LockedOrientationActivity"/>
    <activity android:name=".SettingsActivity" android:label="SettingsActivity" android:configChanges="orientation" android:screenOrientation="portrait" tools:ignore="LockedOrientationActivity"/>
    <activity android:name=".NewsActivity" android:label="NewsActivity" android:configChanges="orientation" android:screenOrientation="portrait" tools:ignore="LockedOrientationActivity"/>
    <activity android:name=".CreateActivity" android:label="CreateActivity" android:configChanges="orientation" android:screenOrientation="portrait" tools:ignore="LockedOrientationActivity"/>

  </application>
</manifest>